html,
body {
    font-family: 'Open Sans', sans-serif;
    background: #F0F2F4;
}

.hero.section {
    padding: 0;
}

* {
    box-sizing: border-box;
  } 

.hero {
    overflow: hidden;
    position: relative;
}

.has-image {
    background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
    filter: blur(4px);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}