<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en " }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Site.Title }} {{ with .Title }} | {{ . }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/blog.css" />
</head>

<body>
    <!-- nav -->
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.BaseURL | absURL }}">Accueil</a>
        </div>
        {{ range .Site.Menus.nav }}
        <a class="navbar-item" href="{{ .URL | absLangURL }}">
            <span>{{ .Pre }} {{ .Name }}</span>
        </a>
        {{ end }}
    </nav>
    <!-- /nav -->

    <!-- hero -->
    <section class="hero is-medium is-dark">
        {{ $img := "/img/banner.jpeg" }} 
        {{ if isset .Params "featured_image" }}
        {{ $img = index .Params "featured_image" }} 
        {{ end }}
        <div class="hero-body">
            <div class="has-image" style="background-image: url({{ $img }})"></div>
            <div class="container has-text-centered">
                <br>
                <h1 class="title is-size-1">
                    {{ .Title }}
                </h1>
                {{ if .Site.Params.subtitle }}
                <h2>{{ .Site.Params.subtitle }}</h2>
                {{ end }}
            </div>
        </div>
    </section>